Repository dbrewfuk/fc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Publish CSS, Publish JS

Publish CSS:
  stage: Build and Publish
  script:
  - npm install
  - npm run prod
  - node deploy/css.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
    - dist/css

Publish JS:
  stage: Build and Publish
  script:
  - npm install
  - npm run prod
  - node deploy/js.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
    - dist/js

Add background and appearance
  tailwind.config.js
Due: none

Add 12 rem to scale
  tailwind.config.js
Due: none

Run CSS build if tailwind config file changes
  .gitlab-ci.yml
Due: none

Add max-h-48
  tailwind.config.js
Due: none

Add 100% by default on main__content
  src/css/modules/main.css
Due: Publish CSS

Add display plugin to remove the table displays
  src/tailwind/plugins/display.js
  tailwind.config.js
Due: Publish JS

Update TailwindCSS to include a11y classes
  package-lock.json
  package.json
Due: none

Change direction of the slider dots
  src/css/modules/hslider.css
Due: Publish CSS

Fix extra bracket in code
  src/css/modules/hslider.css
Due: Publish CSS

Navigation becomes visible if user is using keyboard to navigate through page
  src/css/modules/fixed-cta.css
  src/css/modules/header.css
Due: Publish CSS

Adding search functionality
  src/css/modules/program-finder.css
  src/html/modules/card-finder.html
  src/html/modules/program-finder.html
  src/js/modules/program-finder.js
Due: Publish CSS, Publish JS

Add event listener for tabs for mobile menu behavior
  src/css/modules/header.css
  src/js/modules/header.js
Due: Publish CSS, Publish JS

Change as much style to TailwindCSS and make mobile friendly
  src/css/modules/program-finder.css
  src/html/modules/program-finder.html
  src/js/modules/program-finder.js
Due: Publish CSS, Publish JS

Change outline color to gold
  src/css/util/base.css
Due: Publish CSS

Fix broken JS
  src/js/modules/program-finder.js
Due: Publish JS

Change image to node:latest
  .gitlab-ci.yml
Due: none

Add hero video play/pause buttons
  src/html/modules/hero-tall.html
  src/js/main.js
  src/js/modules/hero.js
Due: Publish JS

Fix controls not changing after click
  src/js/modules/hero.js
Due: Publish JS

Fix syntax preventing button from changing icons and status
  src/js/modules/hero.js
Due: Publish JS

Add span to button
  src/html/modules/hero-tall.html
  src/js/modules/hero.js
Due: Publish JS

Add styles for ou form alerts, and invalid fields
  src/css/main.css
  src/css/modules/ou_forms.css
  src/html/modules/form.html
Due: Publish CSS

Remove paragraph margin from text-widget
  src/css/modules/text-widget.css
Due: Publish CSS

Add colored accordion CSS
  src/css/modules/accordion.css
Due: Publish CSS

Fix comment rendering as CSS selector
  src/css/modules/accordion.css
Due: Publish CSS

Refactor
  src/css/modules/accordion.css
Due: Publish CSS

Update NPM packages and fix all vulnerabilities
  package-lock.json
  package.json
  postcss.config.js
  webpack.config.js
Due: none

Updated all outdated packages to the latest versions. With the update there were a lot of breaking changes, so I updated all files needed in order to fix everything.
  package-lock.json
  package.json
  postcss.config.js
  src/css/modules/cta-list.css
  src/css/modules/form.css
  src/css/modules/header.css
  webpack.config.js
Due: Publish CSS

Fix webkit not minimizing JS on production builds
  package.json
  webpack.config.js
Due: none

Add Google's proxy-polyfill
  package-lock.json
  package.json
  src/js/main.js
Due: Publish JS

Trying to fix error in IE
  package-lock.json
  package.json
  src/js/main.js
  webpack.config.js
Due: Publish JS

Update style lint to get rid of security warning
  package-lock.json
  package.json
Due: none

Update TailwindCSS to latest version
  package-lock.json
  package.json
Due: none

WIP
  img/logo-maysville-text.svg
  img/logo-maysville.svg
  src/css/modules/header.css
  src/css/modules/hero.css
  src/css/util/mixins.css
  src/html/home-redesign.html
  src/html/index.html
  src/html/modules/hero-tall-redesign.html
  src/html/modules/splash-redesign.html
  src/main.js
  tailwind.config.js
Due: Publish CSS, Publish JS

WIP
  src/css/modules/header.css
  src/css/modules/hero.css
  src/html/home-redesign.html
  src/html/modules/header-redesign.html
  src/html/modules/hero-tall-redesign.html
  src/html/templates/default-redesign.html
  src/js/modules/header.js
  tailwind.config.js
Due: Publish CSS, Publish JS

WIP
  src/html/home-redesign.html
  src/html/modules/grid-tight-redesign.html
  src/html/modules/hero-tall-redesign.html
  src/html/modules/split-flip-redesign.html
Due: none

WIP
  src/html/modules/footer-redesign.html
  src/html/modules/hslider-split-redesign.html
  src/html/templates/default-redesign.html
Due: none

WIP
  src/css/main.css
  src/css/modules/header.css
  src/html/home-redesign.html
  src/html/modules/header-redesign.html
  src/html/modules/hslider-cta-redesign.html
  src/html/modules/hslider-split-redesign.html
  src/html/modules/tabs-alt.html
  src/html/modules/testimonial-redesign.html
  tailwind.config.js
Due: Publish CSS

WIP
  src/html/home-redesign.html
  tailwind.config.js
Due: none

WIP
  src/html/home-redesign.html
Due: none

Path conditions:
  Publish CSS: any of: src/**/*.css
  Publish JS: any of: src/**/*.js
