Repository dbrewfuk/fc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Publish CSS, Publish JS

Publish CSS:
  stage: Build and Publish
  script:
  - npm install
  - npm run prod
  - node deploy/css.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
    - dist/css

Publish JS:
  stage: Build and Publish
  script:
  - npm install
  - npm run prod
  - node deploy/js.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
    - dist/js

Change alert colors
  src/css/modules/alert.css
  src/css/util/variables.css
  src/html/modules/alert.html
  src/tailwind/colors.js
Due: Publish CSS, Publish JS

Add Stories hero section
  img/icon-play.svg
  src/css/main.css
  src/css/modules/stories/hero.css
  src/css/modules/stories/page-title.css
  src/html/index.html
  src/html/modules/stories/hero.html
  src/html/modules/stories/page-title-alt.html
  src/html/stories.html
  src/main.js
Due: Publish CSS, Publish JS

WIP working on card with text overlay
  src/html/modules/stories/two-card-video.html
  src/html/stories.html
Due: none

Finish two-card-module
  src/css/main.css
  src/css/modules/stories/card.css
  src/css/util/variables.css
  src/html/modules/stories/two-card-video.html
Due: Publish CSS

First draft done
  src/css/main.css
  src/css/modules/stories/card.css
  src/html/modules/stories/card-image.html
  src/html/modules/stories/two-card-video.html
  src/html/stories.html
Due: Publish CSS

Add mobile friendly styles
  src/css/main.css
  src/css/modules/stories/card.css
  src/css/modules/stories/grid.css
  src/html/modules/stories/two-card-video.html
  src/html/stories.html
Due: Publish CSS

Finished with video modal
  src/css/main.css
  src/css/modules/stories/card.css
  src/css/modules/stories/modal.css
  src/html/modules/stories/card-image.html
  src/html/modules/stories/hero.html
  src/html/modules/stories/two-card-video.html
  src/html/stories.html
  src/js/main.js
  src/js/modules/stories.js
Due: Publish CSS, Publish JS

Add new logos
  img/logo-maysville-text.svg
  img/logo-maysville.svg
Due: none

Add viewbook link and check .stories-play-button type to make sure it's not a link
  src/html/modules/stories/card-image.html
  src/html/stories.html
  src/js/modules/stories.js
Due: Publish JS

Added search function to transfer pages.
  src/js/main.js
  src/js/modules/transfer-search.js
Due: Publish JS

Quick fix
  src/js/modules/transfer-search.js
Due: Publish JS

Update main.js
  src/js/main.js
Due: Publish JS

Delete transfer-search.js
  src/js/modules/transfer-search.js
Due: Publish JS

Added news js file
  src/js/main.js
  src/js/modules/news.js
Due: Publish JS

Update news.js
  src/js/modules/news.js
Due: Publish JS

Switching to CSS solution, removed JS solution
  src/css/main.css
  src/css/modules/news.css
  src/js/main.js
  src/js/modules/news.js
Due: Publish CSS, Publish JS

Specifying font for the splash title to accommodate longer title
  src/css/modules/splash.css
Due: Publish CSS

Increased font for splash title on desktop, smaller font for mobile
  src/css/modules/splash.css
Due: Publish CSS

Tooltip now opens when tabbed into, and goes away when tabbed away.
  src/css/modules/tooltip.css
Due: Publish CSS

Ignore DS_Store file
  .gitignore
Due: none

Update asset links.
  src/html/home-redesign.html
  src/html/modules/grid-tight-redesign.html
Due: none

Update zip.
  dist.zip
Due: none

change header continer
  src/js/modules/header.js
Due: Publish JS

WIP
  src/css/modules/header.css
  src/css/modules/hero.css
  src/css/util/mixins.css
  src/html/home-redesign.html
  src/html/index.html
  src/html/modules/hero-tall-redesign.html
  src/html/modules/splash-redesign.html
  src/main.js
  tailwind.config.js
Due: Publish CSS, Publish JS

WIP
  src/html/home-redesign.html
  src/html/modules/grid-tight-redesign.html
  src/html/modules/hero-tall-redesign.html
  src/html/modules/split-flip-redesign.html
Due: none

WIP
  src/css/modules/header.css
  src/css/modules/hero.css
  src/html/home-redesign.html
  src/html/modules/header-redesign.html
  src/html/modules/hero-tall-redesign.html
  src/html/templates/default-redesign.html
  src/js/modules/header.js
  tailwind.config.js
Due: Publish CSS, Publish JS

WIP
  src/html/modules/footer-redesign.html
  src/html/modules/hslider-split-redesign.html
  src/html/templates/default-redesign.html
Due: none

WIP
  src/css/main.css
  src/css/modules/header.css
  src/html/home-redesign.html
  src/html/modules/header-redesign.html
  src/html/modules/hslider-cta-redesign.html
  src/html/modules/hslider-split-redesign.html
  src/html/modules/tabs-alt.html
  src/html/modules/testimonial-redesign.html
  tailwind.config.js
Due: Publish CSS

WIP
  src/html/home-redesign.html
  tailwind.config.js
Due: none

WIP
  src/html/home-redesign.html
Due: none

Path conditions:
  Publish CSS: any of: src/**/*.css
  Publish JS: any of: src/**/*.js
