Repository dbrewfuk/fc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Publish CSS, Publish JS

.gitlab-ci.yml:

image: edbizarro/gitlab-ci-pipeline-php:7.3

stages:
  - Build and Publish

Publish CSS:
  stage: Build and Publish
  script:
    - npm install
    - npm run prod
    - node deploy/css.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
      - dist/css
  only:
    refs:
      - master
    changes:
      - src/**/*.css


Publish JS:
  stage: Build and Publish
  script:
    - npm install
    - npm run prod
    - node deploy/js.js "$CI_COMMIT_MESSAGE"
  artifacts:
    expire_in: 4 weeks
    paths:
      - dist/js
  only:
    refs:
      - master
    changes:
      - src/**/*.js

Update asset links.
  src/html/home-redesign.html
  src/html/modules/grid-tight-redesign.html
Due: none

Ignore DS_Store file
  .gitignore
Due: none

Add header--transparent class.
  src/css/modules/header.css
Due: Publish CSS

Add quick links menu styles
  src/css/modules/header.css
Due: Publish CSS

Fix bug where the menu would change colors even if it wasn't transparent.
  src/js/modules/header.js
Due: Publish JS

Update canvas.css
  src/css/modules/canvas.css
Due: Publish CSS

Lowering the height so user can access YouTube video controls
  src/css/modules/stories/modal.css
Due: Publish CSS

Updated page title styles to accomodate new header on Gateway Landing Page.
  src/css/modules/page-title.css
Due: Publish CSS

Button focus styles..
  package-lock.json
  src/css/modules/button.css
Due: Publish CSS

Button focus styles and fix peer dependency conflicts.
  .gitlab-ci.yml
Due: none

Trigger CSS build.
  src/css/modules/page-title.css
Due: Publish CSS

Adding top margin to page-title--margin.
  src/css/modules/page-title.css
Due: Publish CSS

New commit.
  .DS_Store
  src/css/modules/hslider.css
  src/css/util/variables.css
  src/html/home.html
  src/html/modules/banner.html
Due: Publish CSS

Commit.
  .DS_Store
Due: none
